*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    margin :12%;
    background: #0b25a4;
    color: #fff;
}


.container h1 span{
    color: #f00;
    font-weight: bold;
}